{% extends "settings.html" %}
{% block title %}
<title>
  {{ owner.canonical_name }}/{{ ml.name }} settings &mdash; {{ cfg("sr.ht", "site-name") }} lists
</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form method="POST">
        {{csrf_token()}}
        <div class="form-group">
          <label for="permitMime">
            Permitted mimetypes
          </label>
          <input
            type="text"
            name="permitMime"
            id="permitMime"
            class="form-control"
            value="{{ ml.permit_mimetypes }}"
            aria-describedby="permitMime-help" />
          <p
            id="permitMime-help"
            class="form-text text-muted"
          >
            Comma separated list of mimetypes, <a
              href="https://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_13_01"
              rel="noopener"
              target="_blank"
            >fnmatch</a> for wildcards.
          </p>
          {{ valid.summary("permitMime") }}
        </div>
        <div class="form-group">
          <label for="rejectMime">
            Rejected mimetypes
          </label>
          <input
            type="text"
            name="rejectMime"
            id="rejectMime"
            class="form-control"
            value="{{ ml.reject_mimetypes }}"
            aria-describedby="rejectMime-help" />
          <p
            id="rejectMime-help"
            class="form-text text-muted"
          >
            Comma separated list of mimetypes, <a
              href="https://pubs.opengroup.org/onlinepubs/009695399/utilities/xcu_chap02.html#tag_02_13_01"
              rel="noopener"
              target="_blank"
            >fnmatch</a> for wildcards.
          </p>
          {{ valid.summary("rejectMime") }}
        </div>
        {{ valid.summary() }}
        <span class="pull-right">
          <button type="submit" class="btn btn-primary">
            Save {{icon("caret-right")}}
          </button>
        </span>
      </form>
    </div>
  </div>
</div>
{% endblock %}
