{% extends "meta.html" %}
{% block title %}
<title>Audit log - {{cfg("sr.ht", "site-name")}} meta</title>
{% endblock %}
{% block content %}
<div class="row">
  <section class="col-md-12">
    <h3>Audit Log</h3>
    <table class="table">
      <thead>
        <tr>
          <th>IP Address</th>
          <th>Action</th>
          <th>Details</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        {% for log in audit_log %}
        <tr>
          <td>{{log.ip_address}}</td>
          <td>{{log.event_type}}</td>
          <td>{{log.details or ""}}</td>
          <td>{{log.created | date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>
{% endblock %}
